@(message: String)(implicit userInfo: Option[services.LibratoUser])

@main("Attribrato") {
  <div id="metrics-table-container">
  </div>

  <script id="metrics-table-template" type="text/html">
    <table class="table table-striped" id="metrics-table">
        <thead>
            <th>&nbsp;</th>
            <th>Metric</th>
        </thead>
        <tbody>
            {{#metrics}}
              <tr>
                <td><input type="checkbox" name="metric" value="{{name}}"></td>
                <td>{{name}}</td>
              </tr>
            {{/metrics}}
        </tbody>
    </table>
  </script>

  <style type="text/css">
      div.dataTables_length label {
          float: left;
          text-align: left;
      }

      div.dataTables_length select {
      }

      div.dataTables_filter label {
          float: right;
      }

      div.dataTables_info {
          padding-top: 8px;
      }

      div.dataTables_paginate {
          float: right;
          margin: 0;
      }

      table {
      margin-bottom: 6px !important;
          clear: both;
      }
      table.table thead .sorting,
      table.table thead .sorting_asc,
      table.table thead .sorting_desc,
      table.table thead .sorting_asc_disabled,
      table.table thead .sorting_desc_disabled {
          cursor: pointer;
          *cursor: hand;
      }

      /*table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }*/
      /*table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }*/
      /*table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }*/
      /*table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }*/
      /*table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }*/
  </style>

  <script type="text/javascript">
    $(window).load(function() {
      $.Mustache.addFromDom("metrics-table-template");
      $.get('/api/v1/metrics', function(data) {
        $("#metrics-table-container").mustache("metrics-table-template", data);
        $('#metrics-table').dataTable({
          "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
          "sPaginationType": "bootstrap",
          "sWrapper": "dataTables_wrapper form-inline"
        });
      }, "json");
    });

  </script>

}
