@(message: String)(implicit userInfo: Option[services.LibratoUser])

@main("Attribrato") {
  <div class="row" id="metrics-table-container">
  </div>

  <script id="metrics-table-template" type="text/html">
    <table class="table table-striped" id="metrics-table">
        <thead>
            <th>&nbsp;</th>
            <th>Metric</th>
        </thead>
        <tbody>
            {{#metrics}}
              <tr>
                <td><input type="checkbox" name="metric" value="{{name}}"></td>
                <td>{{name}}</td>
              </tr>
            {{/metrics}}
        </tbody>
    </table>
  </script>

  <style type="text/css">
      div.dataTables_length label {
          width: 460px;
          float: left;
          text-align: left;
      }

      div.dataTables_length select {
          width: 75px;
      }

      div.dataTables_filter label {
          float: right;
          width: 460px;
      }

      div.dataTables_info {
          padding-top: 8px;
      }

      div.dataTables_paginate {
          float: right;
          margin: 0;
      }

      table {
          margin: 1em 0;
          clear: both;
      }
  </style>

  <script type="text/javascript">
    $(window).load(function() {
      $.Mustache.addFromDom("metrics-table-template");
      $.get('/api/v1/metrics', function(data) {
        $("#metrics-table-container").mustache("metrics-table-template", data);
        $('#metrics-table').dataTable({
          "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
          "sPaginationType": "bootstrap"
        });
      }, "json");
    });

  </script>

}
