@(message: String)(implicit userInfo: Option[services.LibratoUser])

@main("Attribrato") {
  <div id="metrics-table-container">
  </div>

  <script id="metrics-table-template" type="text/html">
    <table class="table table-striped" id="metrics-table">
        <thead>
            <th>&nbsp;</th>
            <th>Metric</th>
        </thead>
        <tbody>
            {{#metrics}}
              <tr>
                <td><input type="checkbox" name="metric" value="{{name}}"></td>
                <td>{{name}}</td>
              </tr>
            {{/metrics}}
        </tbody>
    </table>
  </script>

  <script type="text/javascript">
    $(window).load(function() {
      $.Mustache.addFromDom("metrics-table-template");
      $.get('/api/v1/metrics', function(data) {
        $("#metrics-table-container").mustache("metrics-table-template", data);
        $('#metrics-table').dataTable({
          "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
          "sPaginationType": "bootstrap",
          "sWrapper": "dataTables_wrapper form-inline"
        });
      }, "json");
    });
  </script>

}
