@(userForm: Form[services.LibratoUser])

@import helper._
@import helper.twitterBootstrap._

@main("Login") {
  @form(action = routes.Login.authenticate) {
    @if(userForm.hasGlobalErrors) {
        @for(error <- userForm.globalErrors) {
          <div class="alert alert-error">
              @error.message
          </div>
        }
    }
    @inputText(userForm("username"), '_label -> "Librato Username", '_help -> "")
    @inputPassword(userForm("password"), '_label -> "Api Key", '_help -> "")
    <input type="submit">
  }
}(None)